<div class="front-item front-item-1">
  <h2> <span>Search the book you want<span class="spacer"></span></span></h2>
</div>
<div class="front-item front-item-2">
<h2> <span>Read that goddamn book you picked<span class="spacer"></span></span></h2>
</div>
<div class="front-item front-item-3">
<h2> <span>Pay that motherfucking money<span class="spacer"></span></span></h2>
</div>
